In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Data/van.csv')
print(df['Street Address'].isnull().sum())

5246

In [5]:
df.head()

,dataset,dateingested,DOS,Start Time,Stop Time,Street Address,City,Zip Code
0,MHU Field Data: Van deployment addresses with ...,2025-07-09,2021-02-04,NaN,NaN,NaN,NaN,NaN
1,MHU Field Data: Van deployment addresses with ...,2025-07-09,2021-05-22,NaN,NaN,NaN,NaN,NaN
2,MHU Field Data: Van deployment addresses with ...,2025-07-09,2021-07-31,NaN,NaN,NaN,NaN,NaN
3,MHU Field Data: Van deployment addresses with ...,2025-07-09,2024-01-15,NaN,NaN,NaN,NaN,NaN
4,MHU Field Data: Van deployment addresses with ...,2025-07-09,2024-08-10,NaN,NaN,NaN,NaN,NaN